<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<h1>Menu</h1>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Product Type</th>
        <th>variable price1</th>
        <th>variable price2</th>
        <th>variable price3</th>
      </tr>
    </thead>
    <%= @products.each do |product| %>
      <tbody>
        
      </tbody>
    <% end %>
  </table>
</div>

