<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<h1>Menu</h1>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <% @products.each do |f| %>
          <% f.prices.each_key do |ff| %>
            <th><%= ff %></th>
          <% end %>
        <% end %>
      </tr>
    </thead>
      <tbody>
        <tr>
          <% @products.each do |f| %>
          <th><%= f.title %></th>
            <% f.prices.each_value do |ff| %>
              <th><%= ff %></th>
            <% end %>
          <% end %>
      </tbody>
  </table>
</div>

